@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: none;
}
@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: none;
}
@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: none;
}
.header {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
}
.header .top__nav {
  display: none;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner nav .nav-icon {
  display: none;
  font-size: 16px;
  text-transform: uppercase;
}
.header-inner nav .nav-icon i {
  font-size: 20px;
  vertical-align: bottom;
  padding: 0 15px;
}
.header-inner nav .navbar li {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
  right: 34px;
  top: 2px;
}
.header-inner nav .navbar li a {
  color: #fff;
}
.header-inner nav .navbar li:last-child {
  margin-right: 0;
}
.header-inner .form-control ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner .form-control ul li i {
  color: #ffffff;
}
.header-inner .form-control ul .hd__search {
  padding-right: 27px;
}
.header-inner .form-control ul .hd__shopping {
  padding-left: 26px;
  padding-right: 27px;
  border-left: 2px solid #777777;
  border-right: 2px solid #777777;
}
.header-inner .form-control ul .hd__user {
  padding-left: 26px;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}
.background {
  position: relative;
  height: 950px;
}
.background-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.background-title {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  bottom: 95px;
}
.background-sub {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  bottom: 42px;
}
.background-text {
  max-width: 530px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  word-break: break-word;
  position: absolute;
  bottom: -44px;
}
.background-a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 13px 47px;
  text-decoration: none;
  position: absolute;
  top: 105px;
}
.background-a:hover {
  color: #ffffff;
}
.category {
  position: relative;
  bottom: 82px;
}
.category .row {
  margin: 0;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.category-item {
  position: relative;
  background-color: #ffffff;
  width: calc(100% / 3);
  padding-top: calc((200 / 928) * 100%);
}
.category-item .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.category .item-icon {
  text-align: center;
  position: relative;
  top: 30px;
}
.category .item-content {
  text-align: center;
}
.category .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  word-break: break-word;
  top: 52px;
}
.category .detail {
  width: 290px;
  margin: 0 50px;
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  word-break: break-word;
  position: relative;
  top: 71px;
}
.category .icon__2 {
  top: 43px;
}
.category .title__2 {
  top: 63px;
}
.category .detail__2 {
  top: 85px;
}
.category .detail__3 {
  width: 307px;
  margin: 0 44px;
  top: 72px;
}
.slider .slick-dots {
  bottom: -42px;
}
.slider .slick-dots li {
  margin: 0;
  padding: 0;
}
.slider .slick-dots li button::before {
  font-size: 11px;
  color: #777777;
  opacity: 0.65;
}
.slider .slick-dots .slick-active button::before {
  color: #dd2f31;
}
.slider-item-title1 {
  padding-top: 98px;
  padding-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.slider-item-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.slider-item-text {
  padding-top: 7px;
  max-width: 788px;
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  word-break: break-word;
}
.slider-item-title2 {
  margin-top: 30px;
  font-size: 19px;
  align-tracks: 0,1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.slider-item-text2 {
  margin-top: -14px;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  text-align: center;
}
.brand .row {
  margin-top: 138px;
  padding-top: 50px;
  border-top: 1px solid #777777;
}
.brand__img {
  width: calc(100%/6);
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  padding-top: calc((71 / 1123) * 100%);
}
.brand__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 22px;
  margin: auto;
}
.brand:first-child {
  padding-left: 0;
}
.brand:last-child {
  padding-right: 0;
}
.product-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-inner nav {
  font-size: 18px;
  font-weight: 700;
}
.product-inner nav .navbar li {
  width: 143px;
  text-align: center;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  padding-bottom: 25px;
}
.product-inner nav .navbar li:first-child {
  margin-left: 0;
}
.product-inner nav .navbar li:last-child {
  margin-right: 0;
}
.product-inner nav .navbar li a {
  position: relative;
  top: 14px;
  color: #000018;
  text-transform: uppercase;
  padding-top: 40px;
}
.product-inner nav .navbar li a:hover {
  color: #dd2f31;
}
.product-inner nav .navbar li:hover:before {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background: #dd2f31;
  content: '';
  width: 100%;
  transition: all 200ms linear 0s;
}
.product-inner nav .navbar .text__1 {
  margin-left: 4px;
}
.product-inner nav .navbar .text__2 {
  margin-left: -20px;
  margin-right: 0;
}
.product-inner nav .navbar .text__3 {
  margin-left: 2px;
}
.main__product {
  margin-top: 40px;
}
.main__product-item {
  position: relative;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  height: 332px;
}
.main__product-item:nth-last-child(4) {
  padding-top: 40px;
}
.main__product-item:nth-last-child(3) {
  padding-top: 40px;
}
.main__product-item:nth-last-child(2) {
  padding-top: 40px;
}
.main__product-item:nth-last-child(1) {
  padding-top: 40px;
}
.main__product .main__img__1 {
  position: relative;
  padding-top: calc((234 / 279) * 100%);
}
.main__product .main__img__1 .img__pro__1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}
.main__product .title__pro__1 {
  position: absolute;
  top: 236px;
}
.main__product .title__pro__5 {
  position: absolute;
  top: 280px;
}
.main__product .main__product-item:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.main__product .main__product-item:hover .main__product-function {
  display: block;
}
.main__product-image img {
  width: 100%;
  height: 100%;
}
.main__product-function {
  position: absolute;
  display: none;
  top: 6px;
  right: 26px;
}
.main__product__icon {
  position: absolute;
  top: 23px;
  right: 25px;
}
.main__product__icon .icon__pro {
  color: #777777;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 5px 3px;
}
.main__product__icon .icon__pro i {
  text-align: center;
  width: 100%;
  height: 100%;
}
.main__product__icon .icon__pro:hover {
  border: 1px solid #dd2f31;
  background-color: #dd2f31;
  color: #ffffff;
}
.main__product__icon .item__2 {
  position: relative;
  top: 26px;
}
.main__product__icon .item__3 {
  position: relative;
  top: 52px;
}
.main__product__icon .item__4 {
  position: relative;
  top: 78px;
}
.main__product-title p {
  font-weight: 400;
  font-size: 14px;
  margin: 22px 0 0 19px;
  word-break: break-word;
}
.main__product-title span {
  font-weight: 700;
  font-size: 14px;
  margin: 19px;
  word-break: break-word;
}
.main__product-title .p__2 {
  margin: 22px 0 0 27px;
}
.main__product-title .span__2 {
  margin: 27px;
}
.main__product-title .p__3 {
  margin: 22px 0 0 35px;
}
.main__product-title .span__3 {
  margin: 34px;
}
.main__product-title .p__4 {
  margin: 22px 0 0 42px;
}
.main__product-title .span__4 {
  margin: 41px;
}
.main__product-title .p__6 {
  margin: 22px 0 0 27px;
}
.main__product-title .span__6 {
  margin: 27px;
}
.main__product-title .p__7 {
  margin: 22px 0 0 35px;
}
.main__product-title .span__7 {
  margin: 34px;
}
.main__product-title .p__8 {
  margin: 22px 0 0 42px;
}
.main__product-title .span__8 {
  margin: 41px;
}
.footer {
  background: #222222;
}
.footer__top {
  font-family: "Poppins";
  text-align: center;
  margin-top: 25px;
  padding-top: 97px;
  height: 570px;
}
.footer__top__logo {
  text-align: center;
  margin-bottom: 25px;
}
.footer__top__logo img {
  width: auto;
}
.footer__top__text {
  color: #777777;
  font-weight: 400;
  word-break: break-word;
  margin: 0 200px;
  font-size: 14px;
}
.footer__top__text P {
  line-height: 2;
}
.footer__top__icon {
  position: relative;
  top: 21px;
  left: 5px;
  font-size: 18px;
}
.footer__top__icon a {
  margin: 0 20px;
}
.footer__top__icon a i {
  color: #777777;
}
.footer__top__nav {
  display: flex;
  position: relative;
  top: 132px;
}
.footer__top__nav .nav__right {
  width: 25%;
  padding: 0 15px;
}
.footer__top__nav .nav__right:first-child {
  padding: 0;
}
.footer__top__nav .nav__right h4 {
  font-size: 18px;
  font-weight: 700;
  text-align: initial;
  text-transform: uppercase;
  color: #777777;
  margin: 0;
  line-height: 3;
}
.footer__top__nav .nav__right a {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  line-height: 3;
  word-break: break-word;
}
.footer__top__nav .nav__right a i {
  line-height: 3;
  margin-right: 15px;
}
.footer__bottom {
  background-color: #111111;
  color: #777777;
  text-align: center;
  padding: 3px 0 1px 0;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
}
@media all and (max-width: 1024px) {
  .header-inner .logo img {
    position: relative;
    top: 4px;
    width: 130px;
  }
  .background {
    height: 506px;
  }
  .background .image_bg {
    max-width: 1024px;
  }
  .background-title {
    bottom: 65px;
  }
  .background-sub {
    bottom: 10px;
  }
  .background-text {
    bottom: -65px;
  }
  .background-a {
    top: 120px;
  }
  .category {
    bottom: 50px;
  }
  .category .row {
    margin: 0;
  }
  .category .item-icon {
    top: 20px;
  }
  .category .title {
    top: 35px;
  }
  .category .detail {
    margin: 0 22px;
    top: 50px;
  }
  .main__product-image img {
    width: 98%;
  }
  .footer__top {
    padding-bottom: 51px;
  }
  .footer__top__nav .nav__right a {
    text-align: initial;
  }
}
@media all and (max-width: 768px) {
  .header .top__nav {
    display: block;
    position: relative;
  }
  .header .top__nav .logo__mobi {
    text-align: center;
  }
  .header .top__nav .logo__mobi img {
    width: 150px;
  }
  .header .top__nav .my__link {
    display: none;
    position: absolute;
    left: 60px;
    top: 56px;
  }
  .header .top__nav .my__link a {
    color: #ffffff;
    padding: 0 12px;
  }
  .header .top__nav .icon i {
    position: absolute;
    left: 17px;
    top: 57px;
    color: #ffffff;
  }
  .header .top__nav:hover .my__link {
    display: block;
  }
  .header-inner .logo {
    display: none;
  }
  .header-inner nav .navbar {
    display: none;
  }
  .header .form-control {
    position: relative;
    top: 6px;
  }
  .background {
    height: 450px;
  }
  .background .image_bg {
    max-width: 768px;
    height: 450px;
  }
  .background-title {
    bottom: -10px;
  }
  .background-sub {
    bottom: -65px;
  }
  .background-text {
    display: none;
  }
  .background-a {
    top: 90px;
  }
  .category {
    bottom: 22px;
  }
  .category-item {
    width: calc(100%/3);
    padding: 0 15px;
    box-sizing: border-box;
    padding: 0;
    height: 170px;
  }
  .category .item-icon {
    top: 15px;
  }
  .category .item-icon img {
    width: 35px;
  }
  .category .title {
    top: 10px;
  }
  .category .detail {
    margin: 0 22px;
    width: 200px;
    top: 17px;
  }
  .main__product-item {
    width: calc(100%/4);
    padding: 0 15px;
    box-sizing: border-box;
    padding: 0 8px 35px 8px;
  }
  .main__product-item:nth-last-child(5) {
    padding-top: 40px;
  }
  .main__product-function {
    top: 10px;
    right: 0;
  }
  .main__product__icon {
    font-size: 10px;
  }
  .main__product .icon__eye {
    margin-top: 34px;
  }
  .main__product .icon__heart {
    width: 11px;
    margin-top: 68px;
  }
  .main__product .icon__exchange {
    width: 11px;
    margin-top: 102px;
  }
  .main__product .title__pro__5 {
    top: 240px;
  }
  .brand__img img {
    width: 80%;
  }
  .footer__top {
    padding-bottom: 185px;
  }
}
@media all and (max-width: 576px) {
  .background {
    height: 380px;
  }
  .background .image_bg {
    max-width: 576px;
    height: 380px;
  }
  .background-title {
    bottom: -15px;
  }
  .background-sub {
    bottom: -65px;
  }
  .background-a {
    top: 85px;
  }
  .category {
    bottom: 35px;
  }
  .category-item {
    width: calc(100%/2);
  }
  .category .item-icon {
    top: 8px;
  }
  .category .item-icon img {
    width: 35px;
  }
  .category .title {
    top: 10px;
  }
  .category .detail {
    margin: 0 38px;
    top: 15px;
  }
  .main__product-item {
    width: calc(100%/2);
    padding: 0 15px;
    box-sizing: border-box;
  }
  .main__product-function {
    top: 0px;
  }
  .main__product .main__img__3 {
    top: 5px;
  }
  .main__product .main__img__4 {
    top: 5px;
  }
  .product-inner nav {
    font-size: 14px;
  }
  .product-inner nav .navbar li {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
  }
  .slider-item-img {
    margin-left: 43%;
    margin-right: 50%;
  }
  .brand .row {
    margin-top: 80px;
    padding-top: 30px;
  }
  .footer__top {
    margin-top: 25px;
    padding-top: 50px;
  }
  .footer__top__logo img {
    width: 25%;
  }
  .footer__top__text {
    margin: 0;
  }
  .footer__top__nav h4 {
    font-size: 16px;
  }
  .footer__bottom {
    font-size: 10px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 575px) {
  .header {
    height: 70px;
  }
  .header .top__nav .logo__mobi img {
    width: 80px;
  }
  .header .top__nav .my__link {
    top: 30px;
  }
  .header .top__nav .icon i {
    top: 35px;
    left: 15px;
  }
  .header-inner .form-control {
    display: none;
  }
  .header-inner .form-control ul .hd__search {
    padding-right: 9px;
  }
  .header-inner .form-control ul .hd__user {
    padding-left: 8px;
  }
  .background {
    height: 310px;
  }
  .background .image_bg {
    max-width: 375px;
    height: 310px;
  }
  .background-title {
    font-size: 20px;
    bottom: -35px;
  }
  .background-sub {
    bottom: -10px;
  }
  .background-a {
    top: 60px;
  }
  .category {
    bottom: 20px;
  }
  .category-item {
    height: 110px;
  }
  .category .item-icon {
    top: 15px;
  }
  .category .title {
    top: 20px;
    font-size: 8px;
  }
  .category .detail {
    display: none;
  }
  .product-inner nav .navbar li {
    margin: 0;
    width: 100px;
  }
  .product-inner nav .navbar li a {
    font-size: 12px;
  }
  .main__product-item {
    padding: 0 0 10px 0;
  }
  .main__product-title p {
    font-size: 10px;
  }
  .main__product-title span {
    font-size: 10px;
  }
  .main__product__icon {
    top: 8px;
    right: 3px;
    font-size: 8px;
    padding: 3px 5px;
  }
  .main__product .icon__eye {
    margin-top: 25px;
  }
  .main__product .icon__heart {
    width: 9px;
    margin-top: 50px;
  }
  .main__product .icon__exchange {
    width: 9px;
    margin-top: 75px;
  }
  .brand__img {
    width: calc(100% / 3);
    margin: 25px 0;
  }
  .footer__top__nav {
    display: inline;
    top: 60px;
  }
  .footer__top__nav .nav__right {
    width: 50%;
    padding: 0;
  }
  .footer__top__nav .nav__right h4 {
    font-size: 14px;
  }
  .footer__top__nav .nav__right a {
    display: none;
  }
  .footer__top__nav .nav__right:hover a {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */