.product {
    &-inner{
        .flex();
        // border-bottom: 1px solid @ft-color;
        nav {
            font-size: 18px;
            font-weight: 700;
            .navbar {

                li {
                    width: 143px;
                    text-align: center;
                    display: inline-block;
                    margin-left: 12px;
                    margin-right: 12px;
                    position: relative;
                    padding-bottom: 25px;

                
                    &:first-child { // vị trí đầu tiên
                        margin-left: 0;
                    }
                    &:last-child { //vi trí cuối cùng
                        margin-right: 0;
                    }
                    a {
                        position: relative;
                        top: 14px;
                        color: @bag-color;
                        text-transform: uppercase;
                        padding-top: 40px;
                        &:hover {
                            color: @pd-color;
                        }
                    }
                    
                    &:hover:before {
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        height: 1px;
                        background:  @pd-color;
                        content: '';
                        width: 100%;
                        transition: all 200ms linear 0s;
                    }
                }
                .text__1 {
                    margin-left: 4px;
                }
                .text__2 {
                    margin-left: -20px;
                    margin-right: 0;
                }
                .text__3 {
                    margin-left: 2px;
                }
            }
        }
    }
}
.main__product {
    margin-top: 40px;
    // .row {
    //     margin: 0;
    // }
    .loi {
    position: relative;
    .col(25%);
    &:nth-last-child(4) { // vị trí thứ 4 tính từ cuối 
        padding-top: 52px;
        .main__product-title {
            padding-left: 29px;
            top: 27px;
        }
    }
    &:nth-last-child(3) {
        padding-top: 52px;
        .main__product-title {
            padding-left: 30px;
            top: 27px;
        }
    }
    &:nth-last-child(2) {
        padding-top: 52px;
        .main__product-title {
            padding-left: 30px;
            top: 27px;
        }
    }
    &:nth-last-child(1) {
        padding-top: 52px;
        .main__product-title {
            padding-left: 30px;
            top: 27px;
        }
    }
    &:nth-last-child(5) {
        .main__product-title {
            padding-left: 29px;
        }

    }
    &:nth-last-child(6) {
        .main__product-title {
            padding-left: 29px;
        }

    }
    &:nth-last-child(7) {
        .main__product-title {
            padding-left: 29px;
        }

    }
    &:nth-last-child(8) {
        .main__product-title {
            padding-left: 30px;
        }
    }
    }
    &-item {
        position: relative;
        min-height: 332px;
    }
    
    .main__img__1 { // tạo khung ảnh bằng padding
        position: relative;
        padding-top: calc((234 / 279) * 100%);
        .img__pro__1 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
    
    .main__product-item:hover{
        box-shadow:0 0 10px 1px #e3e3e3;
                
            .main__product-function {
                display: block;
            }
    }
    &-image {
        img {
            width: 100%;
            height: 100%;
        }

    }
    &-function {
        position: absolute;
        display: none;
        top: 10px;
        right: 20px;
    }
    &__icon {
        .icon__pro {
            display: block;
            color: @ft-color;
            border: 1px solid @ft-color;
            border-radius: 5px 0;
            padding: 4px 7px;
            margin-top: 15px;
            &:hover {
                border: 1px solid @pd-color;
                background-color: @pd-color;
                color: @nav-color;
            }
        }
    }

    &-title {
        position: relative;
        top: 34px;
        p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            word-break: break-word;
        }
        span {
            font-weight: 700;
            font-size: 14px;
            word-break: break-word;
        }
    }
}

