.slider {
    .slick-dots {
        bottom: -42px;
        li {
            margin: 0;
            padding: 0;
            button {
                &::before {
                    font-size: 11px;
                    color: @ft-color;
                    opacity: .65; // độ mờ 0.65
                }
            }
        }
        .slick-active {
            button {
                &::before {
                    color: @pd-color;
                }
            }
        }
    }
    &-item {
        &-title1 {
            padding-top: 98px;
            padding-bottom: 10px;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }
        &-img {
            img { // căn chỉnh ảnh ra chính giữa
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
        &-text {
            padding-top: 7px;
            max-width: 788px;
            font-size: 18px;
            font-weight: 400;
            color: @ft-color;
            text-align: center;
            word-break: break-word; // css text xuống dòng
        }
        &-title2 {
            margin-top: 30px;
            font-size: 19px;
            align-tracks: 0,1em;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase; // css text in hoa
        }
        &-text2 {
            margin-top: -14px;
            font-size: 14px;
            font-weight: 400; // độ đậm nhạt của chữ
            color: @ft-color;
            text-align: center;
        }
    }
}
.brand {
    .row {
        margin-top: 138px;
        padding-top: 50px;
        border-top: 1px solid @ft-color;
    }
    &__img {
        .col (calc(100%/6)); // col chia khối với padding 15px
        position: relative;
        padding-top: calc((71 / 1123) * 100%);
        img {
            position: absolute;
            top: 0;left: 0;right: 0;bottom: 22px;
            margin: auto;
        }
        
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}