.header {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: @nav-color;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    .top__nav {
        display: none;
    }
    &-inner {
        .flex();
        .logo {
        }
        nav {
            .nav-icon {
                display: none;
                font-size: 16px;
                text-transform: uppercase;
                i {
                    font-size: 20px;
                    vertical-align: bottom;
                    padding: 0 15px;
                }
            }
            .navbar {
                li {
                    display: inline-block;
                    margin-left: 24px;
                    margin-right: 24px;
                    position: relative;
                    right: 34px;
                    top: 2px;
                    a {
                        // text-transform: uppercase;// viết chữ in hoa
                        color: #fff;
                    }
                    &:last-child {
                        margin-right: 0 // last-child: css cho phần tử con cuối cùng của cha
                }
            }
        }

    }
    .form-control {
        ul {
            .flex();
            li {
                i {
                    color: @nav-color;
                }
            }
            .hd__search {
                padding-right: 27px;
            }
            .hd__shopping {
                padding-left: 26px;
                padding-right: 27px;
                border-left: 2px solid @ft-color;
                border-right: 2px solid @ft-color;
            }
            .hd__user {
                padding-left: 26px;
            }
        }
        
    }
}
}  
