@media all and (max-width: 1024px){
    .header-inner nav .navbar li {
        margin-left: 14px;
        margin-right: 12px;
        right: 10px;
    }
    .category .item-icon {
        top: 15px;
    }
    .category .item-content {
        top: 15px;
    }
    .main__product-function {
        right: 25px;
    }
    .footer__top__text {
        margin: 0;
    }
}
@media all and (max-width: 768px){
    .header {
        .top__nav {
            display: block;
            position: relative;
            .logo__mobi {
                text-align: center;
                img {
                    width: 150px;
                }
            }
            .my__link {
                display: none;
                position: absolute;
                left: 60px;
                top: 56px;
                a {
                    color: @nav-color;
                    padding: 0 12px;
                }
            }
            .icon {
                i {
                    position: absolute;
                    left: 17px;
                    top: 57px;
                    color: @nav-color;
                }
            }
            &:hover {
                .my__link {
                    display: block;
                }
            }
        }
        &-inner {
            .logo {
                display: none;
            }
            nav {
                .navbar {
                    display: none;
                }
            }
        }
        .form-control {
            position: relative;
            top: 6px;
        }
    }
    .category-item {
        padding-top: calc((200 / 843) * 100%);
    }
    .category .title {
        font-size: 14px;
    }
    .category .detail {
        display: none;
    }
    .main__product .loi {
        .col(50%);
    }
    .main__product-item {
        min-height: 410px;
    }
    .main__product-item:nth-last-child(1) {
        margin-bottom: 10px;
    }
    .slider-item-title1 {
        padding-top: 10px;
    }
    .brand .row {
        margin-top: 80px;
        padding-top: 25px;
    }
    .brand__img {
        width: calc(100%/3);
        padding-top: calc((71 / 575) * 100%);
    }
    .brand__img img {
        bottom: 0;
        width: 70%;
    }
}
@media all and (max-width: 576px){
    .header {
        height: 90px;
    }
    .header .top__nav .my__link a {
        padding: 0 10px;
    }
    .header-inner .form-control ul {
        display: none;
    }
    .header .top__nav .my__link {
        position: initial;
        margin-top: 20px;
        margin-left: 40px;
    }
    .header .top__nav .my__link {
        position: initial;
    }
    .header .top__nav .icon i {
        top: 71px;
    }
    .category {
        bottom: 20px;
    }
    .category .item-icon  img {
        width: 20%;
    }
    .category .item-content {
        top: 5px;
    }
    .category .item-icon {
        top: 5px;
    }
    .main__product-item {
        min-height: 350px;
    }
    .brand__img {
        padding-top: calc((71 / 475) * 100%);
    }
    .footer__top__nav .nav__right h4 {
        font-size: 16px;
    }
}

@media only screen and (min-width : 375px) and (max-width : 575px) {
    .header {
        height: 151px;
    }
    .header .top__nav .my__link {
        line-height: 3;
    }
    .header .top__nav .icon i {
        top: 82px;
    }
    .background-content {
        top: 35%;
    }
    .background-title {
        position: initial;
    }
    .background-sub {
        position: initial;
    }
    .background-text {
        position: initial;
    }
    .loii {
        margin-top: 42px;
    }
    .background-a {
        position: initial;
    }
    .category .title {
        line-height: 1;
    }
    .product-inner nav .navbar li {
        display: block;
    }
    .product-inner nav .navbar .text__1 {
        margin: 10px 0;
        padding: 0;
    }
    .product-inner nav .navbar .text__2 {
        margin: 20px 0;
        padding: 0;
    }
    .product-inner nav .navbar .text__3 {
        margin: 20px 0;
        padding: 0;
    }
    .product-inner nav .navbar li a {
        position: initial;
        padding: 0;
    }

    .main__product .loi {
        width: 100%;
    }
    .main__product-item {
        min-height: 400px;
    }
    .footer__top__nav {
        margin-top: 29px;
    }
    .footer__top__nav {
        .row {
            display: inline;
        }
    }
    .footer__top__nav .nav__right {
        width: 100%;
    }
    .footer__top__nav .nav__right__icon a {
        display: none;
    }
    .footer__top__nav .nav__right:hover a {
        display: block;
    }   
}